<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">

        <li><%= link_to "Sitemap", "#" %></li>
        <li><%= link_to "Pics", "#" %></li>
		</ul>
      <a class="navbar-brand" href="#"><%= @first_visit %></a>
   
 -->
      
     

      </div>
</footer>